<!DOCTYPE>
<html lang="<%= config.language || '' %>">
<%- partial('_partial/head') %>

<body>
  <%- partial('_partial/header') %>

  <main>
    <%- body %>
  </main>

  <%- partial('_partial/footer') %>

  <%- partial('_partial/script') %>

  <% if (theme.duoshuo_style!=='origin'){ %>
  <!-- overwrite duoshuo original css -->
  <link rel="stylesheet" href="/css/duoshuo.css">
  <% } %>
</body>
</html>
