<article>
  <h2>
    <% if(!page.excerpt){ %>
    <a name="readmore"></a>
    <% } %>
    <a href="<%= url_for(page.path) %>"><%= page.title || 'Untitled' %></a>
  </h2>

  <%- page.content %>

  <div class="time">
    <%= page.date.format('YYYY-MM-DD HH:mm') %>
    <% if(config.author){ %>
    by <%= config.author %>
    <% } %>
  </div>
</article>
