<%
var social_t = theme.social;
var social_c = config.social;
var home = social_t.home || social_c.home;
var weibo = social_t.weibo || social_c.weibo;
var github = social_t.github || social_c.github;
%>

<header>
  <h1>
    <a href="<%= config.root %>"><%= config.title %></a>
  </h1>
  <% if(config.description) { %>
  <p class="description"><%= config.description %></p>
  <% } %>
  <ul class="social">
    <% if(home){ %>
    <li><a href="<%= home %>" target="_blank">Home</a></li>
    <% } %>
    <% if(github){ %>
    <li><a href="<%= github %>" target="_blank">Github</a></li>
    <% } %>
    <% if(weibo){ %>
    <li><a href="<%= weibo %>" target="_blank">Weibo</a></li>
    <% } %>
  </ul>
</header>
